global !p
from snippet_helpers import *
endglobal

snippet v "Minimal Vue template"
<template lang='pug'>
.${1:`!p snip.rv = camelToDash(snip.basename)`}
</template>

<script>
export default {
  name: '$1'
}
</script>

<style scoped lang='sass'>
</style>
endsnippet
